@page "/products.html"
@model SonEcommerce.Public.Web.Pages.Products.ProductModel
<partial name="_MessageNotification" />
<div class="section-box">
    <div class="breadcrumbs-div">
        <div class="container">
            <ul class="breadcrumb">
                <li><a class="font-xs color-gray-1000" href="/">Home</a></li>
                <li><a class="font-xs color-gray-500">Sản Phẩm</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="section-box shop-template mt-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-first order-lg-last">
                <div class="banner-ads-top mb-30"><a href="#"><img src="/assets/imgs/page/shop/banner_category_1.png" alt="Ecom"></a></div>
                <div class="box-filters mt-0 pb-5 border-bottom">
                </div>
                <div class="row mt-20">
                    @foreach (var item in Model.ProductData.Results)
                    {
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">

                            <partial name="_ProductItem1" model="item" />
                        </div>
                    }

                </div>
                <partial name="_Paginator" model="Model.ProductData" />
            </div>
            <div class="col-lg-3 order-last order-lg-first">
                <div class="sidebar-border mb-0">
                    <div class="sidebar-head">
                        <h6 class="color-gray-900">Danh Mục Sản Phẩm</h6>
                    </div>
                    <div class="sidebar-content">
                        <ul class="list-nav-arrow">
                            @foreach (var item in Model.Categories)
                            {
                                <li><a href="/products/@(item.Code).html">@item.Name<span class="number">09</span></a></li>

                            }
                        </ul>
                    </div>
                </div>
                <div class="sidebar-border mb-40">
                    <div class="sidebar-head">
                        <h6 class="color-gray-900">Lọc Sản Phẩm</h6>
                    </div>
                    <div class="sidebar-content">
                        <h6 class="color-gray-900 mt-10 mb-10">Giá</h6>
                        <div class="price-filter">
                            <form method="post">
                                
                                <label for="min-price">Từ</label>
                                <input type="number" id="min-price" asp-for="MinPrice" class="form-control" placeholder="0" min="0">
                                <label for="max-price">Đến</label>
                                <input type="number" id="max-price" asp-for="MaxPrice" class="form-control" placeholder="1000" min="0">
                                <button type="submit" class="form-control">Tìm Kiếm</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />
<div class="modal fade" id="ModalQuickview" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content apply-job-form">
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body p-30">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="gallery-image">
                            <div class="galleries-2">
                                <div class="detail-gallery">
                                    <div class="product-image-slider-2">
                                        <figure class="border-radius-10"><img src="/assets/imgs/page/product/img-gallery-1.jpg" alt="product image"></figure>
                                        <figure class="border-radius-10"><img src="/assets/imgs/page/product/img-gallery-2.jpg" alt="product image"></figure>
                                        <figure class="border-radius-10"><img src="/assets/imgs/page/product/img-gallery-3.jpg" alt="product image"></figure>
                                        <figure class="border-radius-10"><img src="/assets/imgs/page/product/img-gallery-4.jpg" alt="product image"></figure>
                                        <figure class="border-radius-10"><img src="/assets/imgs/page/product/img-gallery-5.jpg" alt="product image"></figure>
                                        <figure class="border-radius-10"><img src="/assets/imgs/page/product/img-gallery-6.jpg" alt="product image"></figure>
                                        <figure class="border-radius-10"><img src="/assets/imgs/page/product/img-gallery-7.jpg" alt="product image"></figure>
                                    </div>
                                </div>
                                <div class="slider-nav-thumbnails-2">
                                    <div>
                                        <div class="item-thumb"><img src="/assets/imgs/page/product/img-gallery-1.jpg" alt="product image"></div>
                                    </div>
                                    <div>
                                        <div class="item-thumb"><img src="/assets/imgs/page/product/img-gallery-2.jpg" alt="product image"></div>
                                    </div>
                                    <div>
                                        <div class="item-thumb"><img src="/assets/imgs/page/product/img-gallery-3.jpg" alt="product image"></div>
                                    </div>
                                    <div>
                                        <div class="item-thumb"><img src="/assets/imgs/page/product/img-gallery-4.jpg" alt="product image"></div>
                                    </div>
                                    <div>
                                        <div class="item-thumb"><img src="/assets/imgs/page/product/img-gallery-5.jpg" alt="product image"></div>
                                    </div>
                                    <div>
                                        <div class="item-thumb"><img src="/assets/imgs/page/product/img-gallery-6.jpg" alt="product image"></div>
                                    </div>
                                    <div>
                                        <div class="item-thumb"><img src="/assets/imgs/page/product/img-gallery-7.jpg" alt="product image"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-tags">
                            <div class="d-inline-block mr-25"><span class="font-sm font-medium color-gray-900">Category:</span><a class="link" href="#">Smartphones</a></div>
                            <div class="d-inline-block"><span class="font-sm font-medium color-gray-900">Tags:</span><a class="link" href="#">Blue</a>,<a class="link" href="#">Smartphone</a></div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product-info">
                            <h5 class="mb-15">SAMSUNG Galaxy S22 Ultra, 8K Camera & Video, Brightest Display Screen, S Pen Pro</h5>
                            <div class="info-by">
                                <span class="bytext color-gray-500 font-xs font-medium">by</span><a class="byAUthor color-gray-900 font-xs font-medium" href="shop-vendor-list.html"> Ecom Tech</a>
                                <div class="rating d-inline-block"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="/assets/imgs/template/icons/star.svg" alt="Ecom"><span class="font-xs color-gray-500 font-medium"> (65 reviews)</span></div>
                            </div>
                            <div class="border-bottom pt-10 mb-20"></div>
                            <div class="box-product-price">
                                <h3 class="color-brand-3 price-main d-inline-block mr-10">$2856.3</h3><span class="color-gray-500 price-line font-xl line-througt">$3225.6</span>
                            </div>
                            <div class="product-description mt-10 color-gray-900">
                                <ul class="list-dot">
                                    <li>8k super steady video</li>
                                    <li>Nightography plus portait mode</li>
                                    <li>50mp photo resolution plus bright display</li>
                                    <li>Adaptive color contrast</li>
                                    <li>premium design & craftmanship</li>
                                    <li>Long lasting battery plus fast charging</li>
                                </ul>
                            </div>
                            <div class="box-product-color mt-10">
                                <p class="font-sm color-gray-900">Color:<span class="color-brand-2 nameColor">Pink Gold</span></p>
                                <ul class="list-colors">
                                    <li class="disabled"><img src="/assets/imgs/page/product/img-gallery-1.jpg" alt="Ecom" title="Pink"></li>
                                    <li><img src="/assets/imgs/page/product/img-gallery-2.jpg" alt="Ecom" title="Gold"></li>
                                    <li><img src="/assets/imgs/page/product/img-gallery-3.jpg" alt="Ecom" title="Pink Gold"></li>
                                    <li><img src="/assets/imgs/page/product/img-gallery-4.jpg" alt="Ecom" title="Silver"></li>
                                    <li class="active"><img src="/assets/imgs/page/product/img-gallery-5.jpg" alt="Ecom" title="Pink Gold"></li>
                                    <li class="disabled"><img src="/assets/imgs/page/product/img-gallery-6.jpg" alt="Ecom" title="Black"></li>
                                    <li class="disabled"><img src="/assets/imgs/page/product/img-gallery-7.jpg" alt="Ecom" title="Red"></li>
                                </ul>
                            </div>
                            <div class="box-product-style-size mt-10">
                                <div class="row">
                                    <div class="col-lg-12 mb-10">
                                        <p class="font-sm color-gray-900">Style:<span class="color-brand-2 nameStyle">S22</span></p>
                                        <ul class="list-styles">
                                            <li class="disabled" title="S22 Ultra">S22 Ultra</li>
                                            <li class="active" title="S22">S22</li>
                                            <li title="S22 + Standing Cover">S22 + Standing Cover</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-12 mb-10">
                                        <p class="font-sm color-gray-900">Size:<span class="color-brand-2 nameSize">512GB</span></p>
                                        <ul class="list-sizes">
                                            <li class="disabled" title="1GB">1GB</li>
                                            <li class="active" title="512 GB">512 GB</li>
                                            <li title="256 GB">256 GB</li>
                                            <li title="128 GB">128 GB</li>
                                            <li class="disabled" title="64GB">64GB</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="buy-product mt-5">
                                <p class="font-sm mb-10">Quantity</p>
                                <div class="box-quantity">
                                    <div class="input-quantity">
                                        <input class="font-xl color-brand-3" type="text" value="1"><span class="minus-cart"></span><span class="plus-cart"></span>
                                    </div>
                                    <div class="button-buy"><a class="btn btn-cart" href="shop-cart.html">Add to cart</a><a class="btn btn-buy" href="shop-checkout.html">Buy now</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
