@model SonEcommerce.Public.ProductCategories.ProductCategoryInListDto
@using SonEcommerce.Public.ProductCategories;
@inject  IProductCategoriesAppService _productCategoriesAppService;
@{
    var url = $"/products/{Model.Code}.html";
    var fileContent = await _productCategoriesAppService.GetCoverPictureAsync(Model.CoverPicture);
    var base64Image = SonEcommerce.Helpers.ImageHelper.ShowBase64(Model.CoverPicture, fileContent);
    var productCount = await _productCategoriesAppService.GetProductCountAsync(Model.Id);
}
<div class="swiper-slide">
    <div class="card-category">
        <div class="card-image"><a href="@url"><img style="width: 260px; height: 260px" src="@base64Image" alt="@Model.Name"></a></div>
        <div class="card-info">
            <a href="blog-single.html">
                <h5 class="color-brand-3 mb-5">@Model.Name</h5>
                <p class="font-md color-gray-500">@productCount products</p>
            </a>
        </div>
    </div>
</div>