.new-text{
    color: rgb(59, 68, 235);
}
.confirmed-text {
    color: purple;
}

.processing-text {
    color: rgb(255, 132, 0);
}

.shipping-text {
    color: rgb(17, 161, 218);
}

.finished-text {
    color: rgb(41, 238, 41);
}

.canceled-text {
    color: red;
}
