<form>
  <p-panel #pnl>
    <!--form grid-->
    <div class="row justify-content-center">
      <div class="col-xxl-10">
          <div class="card" id="demo">
              <div class="card-body">
                  <div class="row p-4" >
                      <div class="col-lg-9">
                          <h3 class="fw-bold mb-4">Hóa Đơn </h3>
                          <div class="row g-4">
                              <div class="col-lg-6 col-6">
                                  <p class="text-muted mb-1 text-uppercase fw-medium fs-14">Mã Hóa đơn</p>
                                  <h5 class="fs-16 mb-0"><span id="invoice-no">{{order.code}}</span></h5>
                              </div>
                              <!--end col-->
                              <div class="col-lg-6 col-6">
                                  <p class="text-muted mb-1 text-uppercase fw-medium fs-14">Ngày</p>

                                  <h5 class="fs-16 mb-0"><span id="invoice-date">{{order.creationTime | date:'dd/MM/yyyy HH:mm:ss'}}</span> <small class="text-muted" id="invoice-time"></small></h5>

                              </div>
                              <!--end col-->
                              <div class="col-lg-6 col-6">
                                  <p class="text-muted mb-1 text-uppercase fw-medium fs-14">Payment Status</p>
                                    <span class="badge bg-success-subtle  fs-13" [class]="getButtonTextClass(order.status)" id="payment-status">{{getStatusTypeName(order.status)}}</span>
                              </div>
                              <!--end col-->
                              <div class="col-lg-6 col-6">

                              </div>
                              <!--end col-->
                          </div>
                      </div>
                      <div class="col-lg-3">
                          <div class="row g-4">
                              <div class="col-lg-6 col-6">

                              </div>
                              <!--end col-->
                              <div class="col-lg-6 col-6">
                              </div>
                              <!--end col-->
                              <div class="col-lg-6 col-6">
                                  <h6 class="text-muted text-uppercase fw-semibold mb-3">Total Amount</h6>
                                  <h3 class="fw-bold mb-2">${{order.total}}</h3>
                              </div>
                              <!--end col-->
                              <div class="col-lg-6 col-6">

                              </div>
                              <!--end col-->
                          </div>
                      </div>
                  </div><!--end col-->

                  <div class="row p-4 border-top border-top-dashed">
                      <div class="col-lg-9">
                          <div class="row g-3">
                              <!-- @foreach($customer as $customers) @endforeach -->
                              <div class="col-12">

                                  <h6 class="text-muted text-uppercase fw-semibold mb-3">Thông Tin Khách Hàng</h6>
                                  <p class="fw-medium mb-2" id="shipping-name">Tên khách hàng: {{order.customerName}}</p>
                                  <!-- <p class="text-muted mb-1" id="shipping-email-line-1">Email: </p> -->
                                  <p class="text-muted mb-1"><span>Phone: </span><span id="shipping-phone-no">{{order.customerPhoneNumber}}</span></p>
                                  <p class="text-muted mb-1">Địa chỉ: {{order.customerAddress}}</p>
                                  <!-- <span class="text-danger">Ghi Chú: đen đá không đường</span> -->

                              </div>
                              <!--end col-->
                          </div>
                          <!--end row-->
                      </div><!--end col-->

                      <div class="col-lg-3">

                      </div>

                  </div>

                  <div class="row">
                      <div class="col-lg-12">
                          <div class="card-body p-4">
                              <div class="table-responsive">
                                  <table class="table table-borderless text-center table-nowrap align-middle mb-0">
                                      <thead>
                                      <tr class="table-active">
                                          <th scope="col" style="width: 50px;">#</th>
                                          <th scope="col">Sản Phẩm</th>
                                          <th scope="col">Giá Niêm Yết</th>
                                          <th scope="col">Số Lượng</th>
                                          <th scope="col" class="text-end">Giá</th>
                                      </tr>
                                      </thead>
                                      <tbody id="products-list">
                                      
                                          <tr *ngFor="let item of orderItems; let i = index">
                                              <td>{{ i + 1 }}</td>
                                              <td class="text-start">
                                                  <span class="fw-medium">{{item.name}}</span>
                                              </td>
                                              <td>${{item.price}}</td>
                                              <td>{{item.quantity}}</td>
                                              <td class="text-end">${{item.price * item.quantity}}</td>
                                          </tr>
                                          <!-- @php($i++)
                                      @endforeach -->
                                      </tbody>
                                  </table><!--end table-->
                              </div>
                              <div class="border-top border-top-dashed mt-2">
                                  <table class="table table-borderless table-nowrap align-middle mb-0 ms-auto" style="width:250px">
                                      <tbody>
                                          <tr class="border-top border-top-dashed fs-15">
                                              <th scope="row">Tổng Giá</th>
                                              <th class="text-end">${{order.total}}</th>
                                          </tr>
                                      </tbody>
                                  </table>
                                  <!--end table-->
                              </div>
                          </div>
                          <!--end card-body-->
                      </div><!--end col-->
                  </div>
              </div>
          </div>
      </div>
      <!--end col-->
  </div>
    <ng-template pTemplate="footer">
      <button
        type="submit"
        pButton
        icon="fa fa-save"
        iconPos="left"
        label="In hóa đơn"
      ></button>
    </ng-template>
    <!--Block UI-->
    <p-blockUI [blocked]="blockedPanel" [target]="pnl">
      <p-progressSpinner></p-progressSpinner>
    </p-blockUI>
  </p-panel>
</form>